<section>
    <p>Безоплатний вебінар</p>
    <p>Старт: 10 січня 19:30</p>
    <h1>Навчіться створювати 
        Excel-таблиці 
        на pro-рівні
    </h1>
        <p>Опануйте функціонал Microsoft Excel, автоматизуйте свою роботу 
            та створюйте таблиці швидко 
            і в задоволення
    </p>
    <div>
        <h2>Реєструйся просто зараз</h2>
        <div>
            <p>залишилось до початку</p>
            <div></div>
        </div>

        <form>
            
            <input type="text" id="name" name="name" placeholder="Введи своє ім’я" required>
            <input type="text" id="email" name="email" placeholder="Введи свій E-mail" required>
            <input type="text" id="phone" name="phone" placeholder="+380 95 -- -- ---" required>

            <div>
                <input type="checkbox" id="agreement" name="agreement" required>
                <label for="agreement">Згоден з <a href="#">Політикою конфіденційності</a> та <a href="#">Умовами користування послугами</a></label>
            </div>

            <button type="submit">Зареєструватися</button>
        </form>

        <button>Зареєструватися</button>
    </div>

    <!-- Модальне вікно -->
    <div>
        <div>
            <h2>Реєструйся просто зараз</h2>
            <div>
                <p>залишилось до початку</p>
                <div></div>
            </div>
    
            <form>
                
                <input type="text" id="name" name="name" placeholder="Введи своє ім’я" required>
                <input type="text" id="email" name="email" placeholder="Введи свій E-mail" required>
                <input type="text" id="phone" name="phone" placeholder="+380 95 -- -- ---" required>
    
                <div>
                    <input type="checkbox" id="agreement" name="agreement" required>
                    <label for="agreement">Згоден з <a href="#">Політикою конфіденційності</a> та <a href="#">Умовами користування послугами</a></label>
                </div>
                <button>Зареєструватися</button>
            </form>
    
        </div>
    </div>
</section>